@use "../../foundation/variables" as *;
.p-section{
  padding: 10vh 0;
  @include respond-md {
    padding: 17.5vh 0;
  }
  &__head{
    margin-block-end:5vh;
  }
  &__foot{
    margin-block-start:5vh;
  }
}