@use "@/styles/foundation/variables" as *;
.main {
  width: 100%;
  flex: auto;
  scroll-behavior: smooth;
  background: var(--bg);
  padding-block-end: 10vh;
  position:relative;
  &:before{
    content: '';
    height: 100%;
    width: 100vw;
    background:url(/img/common/bg/bg-wall.webp) no-repeat center;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
  }
}
.loading{
  height: 100dvh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--primary-dark);
}